.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}

.cta-title {
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--full-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
